/* Type de fonts */
/* @import url('https://fonts.googleapis.com/css2? famille= Montserrat:wght@300;400;500 & display=swap'); */


/* Sélecteurs universels */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Sélectionne l'élément racine du document */
:root {
    --first-color : #7562e0;
}

/* Contenu principal */
html {
    font-size: 16px;
    scroll-behavior: smooth;
    padding: 16px 80px 16px 80px;
}
body {
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
}
.hr {
    margin: 30px 0 25px 0;
}
h1 {
    font-size: 30px;
    color: var(--first-color);
}
h2 {
    font-size: 20px;
    margin: 15px 0 15px 0;
}

a {
    color: black;
    text-decoration: none;
}

/* Head */
/* ---------- ---------- */
.header {
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 55px;
	height: auto;
    margin: 20px;
}
.title-head {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header p {
    margin-top: 15px;
}
.header img {
    width: 100px;
	height: 100px;
}

/* Main */
/* ---------- ---------- */
.card-title h1 {
    text-align: center;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}
.card {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease-in-out;
}
.card:hover {
    background-color: var(--first-color);
}
.card a {
    margin: 10px 0 10px 0;
}

/* Footer */
/* ---------- ---------- */
.contact {
    font-size: 20px;
    margin-top: 20px;
}
.ft-icons i { 
    margin: 15px 0 15px 0;
}
.copyright p{
    text-align: center;
}